/* floating-icons.css */

@keyframes orbit-rotate-cw {
  to {
    transform: rotate(360deg);
  }
}

@keyframes orbit-rotate-ccw {
  to {
    transform: rotate(-360deg);
  }
}

.orbit-animate-cw,
.orbit-animate-ccw {
  transform-box: view-box;
  transform-origin: 50% 50%;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.orbit-animate-cw {
  animation-name: orbit-rotate-cw;
}

.orbit-animate-ccw {
  animation-name: orbit-rotate-ccw;
}

.orbit-paused {
  animation-play-state: paused !important;
}
